<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'post_list' %}">Посты</a>
            </li>
            <li>
                <a href="{% url 'author_list' %}">Авторы</a>
            </li>
            <li>
                <a href="{% url 'main_page' %}">Главная страница</a>
            </li>
        </ul>
    </nav>
    <h1>Welcome, {{ user.username|default:"Пользователь" }}</h1>
    <div>
        <img src="{% static 'image.jpg' %}">
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
